h1 {
  margin-top: 4vw;
}
label {
  margin-top: 10vw;
}

input {
  margin-bottom: 2px;
  border-radius: 10px;
  border-color: rgb(0, 162, 255);
}

p {
  display: inline-block;
  font-size: large;
}

img {
  width: 20vw;
  height: 15vw;
}

#picture {
  margin-top: 1vw;
}

.button {
  border-radius: 10px;
  border-color: rgb(0, 162, 255);
}

.winner {
    color: green;
    font-weight: bold;
}

.lost {
    color: red;
    font-weight: bold;
}
